### ABC Analysis

### A Items (Top 70–80% of value)

#####  High value

#####  Low quantity

#####  Require tight control

#### B Items (Next ~15–25%)

#####  Medium value

#####  Need moderate control

#### C Items (Lowest ~5%)

#####  Low value

#####  Bulk items

#####  Very little control needed

In [1]:
import pandas as pd

df = pd.read_csv("retail_inventory_dataset_v2.csv")

# Identify sales columns
sales_cols = [col for col in df.columns if "Sales_Week" in col]

# Total 12-week sales
df["Total_12_Week_Sales"] = df[sales_cols].sum(axis=1)

# Annualized sales (approx)
df["Annual_Sales"] = df["Total_12_Week_Sales"] * 4.33  # 52 weeks / 12

# Annual consumption value
df["Annual_Consumption_Value"] = df["Annual_Sales"] * df["Unit_Price"]

# Sort by consumption value
df = df.sort_values("Annual_Consumption_Value", ascending=False)

# Calculate cumulative percentage
df["Cumulative_Value"] = df["Annual_Consumption_Value"].cumsum()
df["Cumulative_Percent"] = 100 * df["Cumulative_Value"] / df["Annual_Consumption_Value"].sum()

# Assign ABC category
def assign_abc(percent):
    if percent <= 70:
        return "A"
    elif percent <= 90:
        return "B"
    else:
        return "C"

df["ABC_Category"] = df["Cumulative_Percent"].apply(assign_abc)

df[["SKU", "Product_Name", "Annual_Consumption_Value", "Cumulative_Percent", "ABC_Category"]].head(20)

,SKU,Product_Name,Annual_Consumption_Value,Cumulative_Percent,ABC_Category
16,SKU1016,Product_16,386597.9880,3.559522,A
41,SKU1041,Product_41,359619.8797,6.870648,A
3,SKU1003,Product_3,348211.1524,10.076731,A
52,SKU1052,Product_52,347375.3325,13.275118,A
47,SKU1047,Product_47,338581.7520,16.392540,A
32,SKU1032,Product_32,333837.8040,19.466283,A
22,SKU1022,Product_22,331101.8935,22.514836,A
8,SKU1008,Product_8,326491.0930,25.520936,A
44,SKU1044,Product_44,317069.2728,28.440286,A
36,SKU1036,Product_36,315763.3448,31.347613,A
39,SKU1039,Product_39,295388.8329,34.067345,A
38,SKU1038,Product_38,289260.9736,36.730656,A
58,SKU1058,Product_58,289225.1645,39.393637,A
0,SKU1000,Product_0,285780.9526,42.024907,A
56,SKU1056,Product_56,281636.1900,44.618014,A
2,SKU1002,Product_2,268532.0512,47.090468,A
21,SKU1021,Product_21,267247.2969,49.551093,A
9,SKU1009,Product_9,266986.7175,52.009318,A
19,SKU1019,Product_19,233377.3008,54.158092,A
43,SKU1043,Product_43,231080.6688,56.285720,A