### Retail Data Sets

In [13]:
import pandas as pd

# Load dataset
df = pd.read_csv("retail_inventory_dataset_v2.csv")

# Display first few rows
df.head()

,SKU,Product_Name,Category,Current_Stock,Minimum_Stock,Unit_Price,Lead_Time_Days,Supplier,Sales_Week_1,Sales_Week_2,Sales_Week_3,Sales_Week_4,Sales_Week_5,Sales_Week_6,Sales_Week_7,Sales_Week_8,Sales_Week_9,Sales_Week_10,Sales_Week_11,Sales_Week_12
0,SKU1000,Product_0,Beauty,399,32,134.42,20,Global Supply Co.,8,39,68,20,57,2,26,72,55,93,5,46
1,SKU1001,Product_1,Sports,63,11,83.20,10,Retail Partners Ltd.,42,51,99,35,38,76,62,0,16,62,51,0
2,SKU1002,Product_2,Home Goods,115,13,122.08,3,Global Supply Co.,47,15,33,9,13,91,16,50,73,47,25,89
3,SKU1003,Product_3,Sports,269,12,134.93,13,Express Wholesale,38,12,51,72,94,61,72,44,16,60,63,13
4,SKU1004,Product_4,Sports,319,16,51.11,27,Retail Partners Ltd.,92,29,94,23,4,62,32,76,83,80,97,63

## Total Sales

In [2]:
sales_cols = [col for col in df.columns if "Sales_Week" in col]

df["Total_12_Week_Sales"] = df[sales_cols].sum(axis=1)
df[["SKU", "Product_Name", "Total_12_Week_Sales"]].head()

       SKU Product_Name  Total_12_Week_Sales
0  SKU1000    Product_0                  491
1  SKU1001    Product_1                  532
2  SKU1002    Product_2                  508
3  SKU1003    Product_3                  596
4  SKU1004    Product_4                  735

## Average Weekly Demand

In [3]:
df["Avg_Weekly_Demand"] = df[sales_cols].mean(axis=1)

## Stock Turnover Rate

In [4]:
df["Average_Inventory"] = df["Current_Stock"] / 2
df["Stock_Turnover_Rate"] = df["Total_12_Week_Sales"] / df["Average_Inventory"]

## Identify Inventory Risks

### Low Stock / Out of Stock Soon

In [5]:
df["Low_Stock_Flag"] = df["Current_Stock"] < df["Minimum_Stock"]

### Overstock (more than 3 months of inventory)

In [11]:
df["Months_of_Inventory"] = df["Current_Stock"] / (df["Avg_Weekly_Demand"]*4)

df["Overstock_Flag"] = df["Months_of_Inventory"] > 3

### At Risk (less than 2 weeks of stock)

In [7]:
df["At_Risk_Flag"] = df["Current_Stock"] < (df["Avg_Weekly_Demand"] * 2)

## Top 10 Fast-Moving Products

In [8]:
df.nlargest(10, "Total_12_Week_Sales")[["Product_Name", "Total_12_Week_Sales"]]

   Product_Name  Total_12_Week_Sales
52   Product_52                  777
50   Product_50                  766
44   Product_44                  756
41   Product_41                  751
4     Product_4                  735
46   Product_46                  716
33   Product_33                  713
55   Product_55                  705
34   Product_34                  672
10   Product_10                  667

## Top 10 Slow-Moving Products

In [9]:
df.nsmallest(10, "Total_12_Week_Sales")[["Product_Name", "Total_12_Week_Sales"]]

   Product_Name  Total_12_Week_Sales
49   Product_49                  336
15   Product_15                  372
17   Product_17                  375
21   Product_21                  423
20   Product_20                  434
24   Product_24                  437
9     Product_9                  475
59   Product_59                  476
5     Product_5                  482
0     Product_0                  491

## EDA Ouput

In [10]:
df.to_csv("inventory_with_eda.csv", index=False)